.App {
  background-color: black;
}

.portHole {
  border-radius: 120px;
  border: solid black 4px;
  width: 220px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 10px;
}

.spacyLogo {
  border-radius: 120px;
  width: 220px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 10px;
}

.mecha {
  border: solid black  1px;
  width: 240px;
  height: 240px;
  margin: 10px 10px 10px 10px;
}

.headerbar {
  height: 120px;
  font-family: 'PT Sans', sans-serif;
  font-size: 3.0em;
  background-color: red;
}

.flashing {
  height: 220px;
  width: 100%;
  background-color: white;
  margin-left: auto;
}

.container {
  margin-top: -220px;
  margin-left: 220px;
  margin-right: auto;
}

body {
  background-color: black;
}


.score, .topscore {
  margin-top: 20px;
  font-size: 1.0em;
  margin-left: 120px;
}

.banner {
  background-color: red;
  color: white;
  margin-bottom: 0px;
  text-align: center;
  height: 80px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  font-size: 3.0em;
  border-bottom: 4px solid black;
}


.scoreOut {
  width: 100%;
  text-align: center;
  bottom: 0px;
}
